{% extends "base.html" %}

{% block content %}
    <h1>All Blog Posts</h1>
    <hr />

    {% if posts|length == 0 %}
    <p>No Posts yet.  Please make an entry.</p>
    {% else %}
      
        <ul>
            <p>
            {% for post in posts %}
               <h2>
                    <a href="/post/{{post.id}}"> {{post.title}}</a> 
                    </h2>
                    <li>{{post.body}}</li>
                     
                    <p class="post_author">
                    Written by <a href='/singleUser/{{post.owner.id}}'>{{post.owner.email.split(sep='@')[0]}}</a>
                    </p>
                <hr />
            </p>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    {% endblock %}