<style type = "text/css">
    head {
        background-color: lightblue;
     }
</style>
<style type = "text/css">
    body {
        background-image: url(https://pbs.twimg.com/profile_images/503950005028147201/u9CwXRoO.jpeg);
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 50px;
    }
</style>
<style>
    nav {
        background-color: lightblue;
    }
</style>