{% extends "base.html" %}

{% block content %}
    <h1>Create A New Blog Post!</h1>
    <form method='POST'>
        <label>
            New Post Title:<br>
            <input type="text" name='title' value="{{title}}" minlength=1 maxlength=120 />
            <br><br>
            New Post Body:<br>
            <textArea input type="text" name='body'  value="{{body}}" minlength=1 maxlength=520 /></textArea>
        </label><br>
        <input type="submit" value='Add Post' />
    </form>
    <hr />

{% endblock %}