{% extends "base.html" %}

{% block content %}

<h1>View Single Post</h1>
    <hr />
        <ul>
            <p>
                <h2>
                    <a href="/post/{{posts.id}}"> {{posts.title}}</a> 
                </h2>
                    <li>{{posts.body}}</li>
                    
                    <p class="post_author">
                    Written by <a href='/singleUser/{{posts.owner.id}}'> {{posts.owner.email.split(sep='@')[0]}}
                    </a>
                    </p>
                <hr />
            </p>
        </ul>
        <nav>
            <a href="/post/{{posts.id-1}}">Previous</a> |
            <a href="/post/{{posts.id+1}}">Next</a> |
        </nav> 

{% endblock %}